<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        .btn-download {
            background-color: white;
            border: 2px solid #28a745; /* Green border */
            color: #28a745 !important; /* Green text color */
            display: inline-flex;
            align-items: center;
        }
        .btn-download:hover {
            background-color: #28a745; /* Green background on hover */
            color: white !important; /* White text color on hover */
        }
        .btn-download svg {
            margin-left: 5px;
        }
    </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- Chart.js and Data Labels Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
</head>

<body>
    <div class="container mt-4">
        <div class="row">
            <!-- Total Residents Count -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
                        </svg>
                        <h3 class="card-title">Total Warga</h3>
                        <h4 id="total-residents">Loading...</h4>
                    </div>
                </div>
            </div>

            <!-- Surat Card -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-envelope-arrow-up-fill" viewBox="0 0 16 16">
                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zm.192 8.159 6.57-4.027L8 9.586l1.239-.757.367.225A4.49 4.49 0 0 0 8 12.5c0 .526.09 1.03.256 1.5H2a2 2 0 0 1-1.808-1.144M16 4.697v4.974A4.5 4.5 0 0 0 12.5 8a4.5 4.5 0 0 0-1.965.45l-.338-.207z"/>
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.354 1.25 1.25a.5.5 0 0 1-.708.708L13 12.207V14a.5.5 0 0 1-1 0v-1.717l-.28.305a.5.5 0 0 1-.737-.676l1.149-1.25a.5.5 0 0 1 .722-.016"/>
                          </svg>
                        <h3 class="card-title">Surat</h3>
                        <h4 id="total-letters">Loading...</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Gender Chart -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Jenis Kelamin</h3>
                        <div class="chart-container">
                            <canvas id="genderChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Status Chart -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Status Kependudukan</h3>
                        <div class="chart-container">
                            <canvas id="statusChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Age Range Chart -->
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Umur Warga (Warga Permanen)</h3>
                        <div class="chart-container large-chart-container">
                            <canvas id="ageRangeChart"></canvas>
                        </div>
                    </div>
                </div>

<!-- Rentang Umur Card -->
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title mb-4">Rentang Umur</h3>
            <div class="mb-3">
                <button id="permanentButton" class="btn btn-primary">PERMANEN</button>
                <button id="nonPermanentButton" class="btn btn-secondary">NON PERMANEN</button>
                <button id="okButton" class="btn btn-download ml-2">
                    Download
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-arrow-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708z"/>
                        <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
                    </svg>
                    <img id="loadingGif" src="/static/images/100.gif" alt="Loading..." style="display: none; width: 20px; height: 20px; margin-left: 5px;">
                </button>
            </div>
            <div class="table-responsive">
                <table id="ageRangeTable" class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Rentang Umur</th>
                            <th>Laki-Laki</th>
                            <th>Perempuan</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Rows will be dynamically populated -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/file_laporan.js') }}"></script>

    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Fetch and display total residents count
            fetch('/api/count/total')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('total-residents').textContent = data.total_residents;
                })
                .catch(error => {
                    console.error('Error fetching total residents:', error);
                    document.getElementById('total-residents').textContent = 'Error';
                });

            // Load charts
            loadGenderChart();
            loadStatusChart();
            loadAgeRangeChart();
        });

        function loadGenderChart() {
            const genderColors = ['rgba(75, 192, 192, 0.2)', 'rgba(255, 99, 132, 0.2)'];
            const genderBorderColors = ['rgba(75, 192, 192, 1)', 'rgba(255, 99, 132, 1)'];
        
            fetch('{{ url_for("count_gender") }}')
                .then(response => response.json())
                .then(data => {
                    const genderCtx = document.getElementById('genderChart').getContext('2d');
                    const labels = [`Laki-laki : ${data.male_count}`, `Perempuan : ${data.female_count}`];
                    createPieChart(genderCtx, labels, [data.male_count, data.female_count], genderColors, genderBorderColors);
                })
                .catch(error => console.error('Error fetching gender data:', error));
        }

        function loadStatusChart() {
            const statusColors = [
                'rgba(75, 192, 192, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ];
            const statusBorderColors = [
                'rgba(75, 192, 192, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 159, 64, 1)'
            ];

            fetch('{{ url_for("count_status") }}')
            .then(response => response.json())
            .then(data => {
                const statusCtx = document.getElementById('statusChart').getContext('2d');
    
                // Extracting counts for PERMANEN and NON PERMANEN
                const permanenCount = data.PERMANEN || 0;
                const nonPermanenCount = data['NON PERMANEN'] || 0;
    
                const labels = [
                    `PERMANEN : ${permanenCount}`,
                    `NON PERMANEN : ${nonPermanenCount}`
                ];
    
                const counts = [permanenCount, nonPermanenCount];
    
                createPieChart(statusCtx, labels, counts, statusColors, statusBorderColors);
            })
            .catch(error => console.error('Error fetching status data:', error));
    }

        function loadAgeRangeChart() {
            fetch('{{ url_for("count_age_ranges_permanent") }}')
                .then(response => response.json())
                .then(data => {
                    const ageRangeCtx = document.getElementById('ageRangeChart').getContext('2d');
                    const ageRangeOrder = ['0-6', '7-9', '10-13', '14-16', '17-19', '20-30', '31-40', '41-50', '51-60', '61 keatas'];

                    const orderedLabels = ageRangeOrder.filter(range => range in data);
                    const orderedDataL = orderedLabels.map(range => data[range].L || 0);
                    const orderedDataP = orderedLabels.map(range => data[range].P || 0);
                    const orderedDataTotal = orderedLabels.map(range => (data[range].L || 0) + (data[range].P || 0));

                    createBarChart(ageRangeCtx, orderedLabels, [
                        {
                            label: 'Laki-laki',
                            data: orderedDataL,
                            backgroundColor: 'rgba(75, 192, 192, 0.2)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'Perempuan',
                            data: orderedDataP,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        },
                        {
                            label: 'Total',
                            data: orderedDataTotal,
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        }
                    ]);
                })
                .catch(error => console.error('Error fetching age range data:', error));
        }

    </script>
</body>

</html>
